html,
body {
  height: 100%;
  margin: 0;
}

.converter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Full viewport height */
  text-align: center;
}

.input-container {
  display: flex;
  gap: 20px; /* Adjust spacing between currency groups */
  align-items: flex-end; /* Aligns the inputs with the labels */
}

.currency-group {
  display: flex;
  flex-direction: column;
}

.currency-group label {
  margin-bottom: 5px; /* Adds space between label and select/input */
  font-weight: bold; /* Makes the label text bold */
}

.mt-3 {
  margin-top: 20px;
}
